body {
  background-image: url("https://static.pexels.com/photos/264635/pexels-photo-264635.jpeg");
  background-size: cover;
  background-color: rgba(0,0,0,0.7);
  background-attachment: fixed;
   /* font-family: 'Catamaran', sans-serif; */
  font-family: 'Quicksand', 'Brandon Grotesque','brandon-grotesque', Helvetica, sans-serif;
}


h1 {
  font-size: 55px;
  height: 50%;
  text-align: center;
  color: white;
  padding: 20px;
  margin: 10px;
	cursor: pointer;
}

img {
  border-radius: 50%;
  width: 150px;
  display: block;
  padding: 0px;
  margin: 20px auto;
}

img:hover {
  background-color: rgba(255,255,255,0.5);
}

#iconCap {
	text-align: center;
	color: white;
	cursor: default;
}

#randomLinkTxt {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

#searchTool {
  text-align: center;
  padding: 30px 20px;
}

#searchBtn {
	padding: 7px 0px;
	width: 90px;
  color: white;
  border: none;
  border-radius: 15px;
  background-color: rgba(0,0,0, 0.4);
  cursor: pointer;
}

#searchBtn:hover {
  background-color: rgba(0,0,0, 0.7);
}

input {
	font-family: 'Quicksand', 'Brandon Grotesque','brandon-grotesque', Helvetica, sans-serif;
	font-weight: bold;
	border-radius: 15px;
	padding: 5px 12px;
	width: 300px;
}

input:focus {
    outline:none;
}

ul {
  margin: 60px 0px 100px;
}

li {
  padding: 12px 4px;
  list-style-type: none;
  font-size: 20px;
  font-weight: bold;
}

.listItem {
  padding: 5px 30px;
	margin: auto;
	width: 100%;    
  margin-bottom: 20px;
  color: black;
  background-color: rgba(255, 222, 173, 0.85);
  border-radius: 6px;
}

.listItem:hover {
  background-color: rgba(255, 222, 173, 1);
}

 .snip {
	 font-size: 14px;
  color: black;
   font-weight: bold;
}

p {
  color: black;
  font-size: 12px;
}

#author {
  text-align: center;
  color: white;
  display: block;
  font-style: italic;
}

a:link {
  text-decoration: none;
}